#-------------------------------------------------------------------------------
# * * Copyright: 2019 digiBlitz Foundation
#  * * 
#  * * License: digiBlitz Public License 1.0 (DPL) 
#  * * Administered by digiBlitz Foundation. www.digiblitz.org/dpl/
#  * * 
#  * * Inventor: Suresh Kannan (Maya Suresh Kannan Balabisegan ) (www.sureshkannan.org)
#  * * 
#  * * Authors: Suresh Kannan (Maya Suresh Kannan Balabisegan )& digiBlitz.
#  * * 
#  * * "Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software in accordance to the rules & restrictions of the digiBlitz Public License."
#-------------------------------------------------------------------------------
/* 
    Document   : css
    Created on : Dec 1, 2009, 3:35:27 PM
    Author     : ravi dhyani
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.ToolText{position:relative; } 
.ToolTextHover{position:relative;} 
.ToolText span{display: none;}     

.ToolTextHover span{ 
  display:block; 
  position:absolute; 
  border:1px solid black; 
  top:1.3em; 
  left:5px; 
  background-color:Yellow; color:Grey; 
  text-align:left; 
} 

 
